* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
    background-color: #282D35;
}



.header{
    background-color: #21222A;
    height: 90px;
    display: flex;
    align-items: center;
}

nav{
    display: flex;
    gap: 10px;
    padding: 0 20px;
    align-items: center;
}

.logo{
    width: 40px;
}

span {
    font-size: 1.4rem;
    font-weight: 700;
    color: #61DAFB;
}

main {
    background-image: url(../images/reactjs-icon\ 2.png);
    background-repeat: no-repeat;
    background-position: right;
    padding: 60px 30px;
}

h1{
    margin: 0;
    font-weight: 700;
    font-size: 2.4rem;
    color: #FFFF;
}

.facts-list {
    margin-top: 46px;
    max-width: 400px;
}

.facts-list > li {
    padding-block: 10px;
    line-height: 19px;
    color: #FFFFFF;
}

.facts-list > li::marker {
    color: #61DAFB;
    font-size: 1.5rem;
}